<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #map{
        width: 100%;
        height:600px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css">
</head>
<body>
  <!--Google maps-->

  <div id="map"></div>

  <div>
    <input type="text" placeholder="Lati" id="lat">
    <input type="text" placeholder="Long" id="long">
    <input type="text" placeholder="Partida" id="partida">
    <p id="errorText"></p>
    <button onclick="pegar_minha_localizacao()">Pegar minh location</button>
    <button id="location" >Buscar</button>
  </div>

<!--Google maps end-->

<!-- End service Section -->


<script>
Swal.fire({
   title: "Erro!",
   text: "session('error')",
   icon: "error"
})
</script>

 
<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDakSjifzNklAYqB0o4zbM2f66mafBoDk&libraries=places"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDakSjifzNklAYqB0o4zbM2f66mafBoDk&libraries=places"></script>

<script>

function pegar_minha_localizacao() {
  let lat;
  let long;
  let lati = document.getElementById('lat');
  let longi = document.getElementById('long');
  let partida = document.getElementById('partida');
  var errorText = document.getElementById('errorText');

  function success(pos) {
    lat = pos.coords.latitude;
    long = pos.coords.longitude;
    lati.value = lat;
    longi.value = long;
     //var lat2 = -8.8630933; // Latitude fixa do ponto final
    /// var long2 = 13.323073632735849; // Longitude fixa do ponto final

    calculateAndDisplayRoute(lat,long,-8.8630933, 13.323073632735849);
    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(lat, long);
    var address = '';

    geocoder.geocode({ 'latLng': latlng }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          address = results[0].formatted_address;
          partida.value = address;
          errorText.textContent = ""; // Limpa a mensagem de erro
        } else {
          console.log('Endereço não encontrado.');
        }
      } else {
        console.log('Erro ao obter o endereço:', status);
      }
    });
  }

  function error(err) {
    console.log(err);
  }

  var watchID = navigator.geolocation.getCurrentPosition(success, error, {
    enableHighAccuracy: true
  });
  //navigator.geolocation.clearWatch(watchID); // Para o acompanhamento anterior
}



//PEGAR LOCALIZAÇÃO AO ESCREVER
var typingTimer;
var doneTypingInterval = 500; // Intervalo em milissegundos após o usuário terminar de digitar
let lati = document.getElementById('lat');
let longi = document.getElementById('long');
var addressInput = document.getElementById('partida');
var errorText = document.getElementById('errorText');
var searchButton = document.getElementById('location');

// Função para inicializar o serviço de Geocodificação do Google Maps
function initializeGeocoder() {

  geocoder = new google.maps.Geocoder();
}

// Chamada da função de inicialização do Geocodificador
google.maps.event.addDomListener(window, 'load', initializeGeocoder);

addressInput.addEventListener('input', function() {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(getCoordinates, doneTypingInterval);
});

function getCoordinates() {
  var address = addressInput.value;

  // Criação de um objeto GeocoderRequest
  var geocoderRequest = {
    address: address
  };

  // Chamada da função geocode do Geocoder do Google Maps
  geocoder.geocode(geocoderRequest, function(results, status) {
   
    if (status == google.maps.GeocoderStatus.OK && results.length > 0) {
      var latitude = results[0].geometry.location.lat();
      var longitude = results[0].geometry.location.lng();
     lati.value = latitude;
     longi.value = longitude;
     // var lat2 = -8.8630933; // Latitude fixa do ponto final
      //var long2 = 13.323073632735849; // Longitude fixa do ponto final

      calculateAndDisplayRoute(latitude,longitude, -8.8630933,13.323073632735856);
     // errorText.textContent = ""; // Limpa a mensagem de erro
      console.log(latitude, longitude);
    
    } else {
      console.log('Endereço inválido. Por favor, insira um endereço válido.');
      lati.value = '';
      longi.value = '';
      errorText.textContent = "Por favor, insira um endereço válido.";
    }
  });
}


//TRAÇAR ROTAS
  var map;
  var directionsService;
  var directionsDisplay;
  var originMarker;
  var destinationMarker;
  var carMarker;
  let preco =document.getElementById('preco');
  let preco_h1 =document.getElementById('preco-h1');
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 14
    });

    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);

    var userIcon = {
      url: '{{asset("imagens/mapa/cars.png")}}', // Substitua pelo caminho para o ícone de usuário
      scaledSize: new google.maps.Size(40, 40)
    };

    var homeIcon = {
      url: '{{asset("imagens/mapa/casa.png")}}', // Substitua pelo caminho para o ícone de casa
      scaledSize: new google.maps.Size(40, 40)
    };

    var carIcon = {
      url: '{{asset("imagens/mapa/car.png")}}', // Substitua pelo caminho para o ícone de carro
      scaledSize: new google.maps.Size(40, 40)
    };

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var lat1 = position.coords.latitude;
        var long1 = position.coords.longitude;

        originMarker = new google.maps.Marker({
          position: {lat: lat1, lng: long1},
          map: map,
          icon: userIcon
        });

      
        destinationMarker = new google.maps.Marker({
          position: {lat: lat2, lng: long2},
          map: map,
          icon: homeIcon
        });

        

        // Adiciona o marcador de carro inicialmente escondido
        carMarker = new google.maps.Marker({
          position: {lat: lat1, lng: long1},
          map: map,
          icon: carIcon,
          visible: false
        });

        setInterval(function () {
          updateMarkerPosition(lat1, long1);
        }, 1000); // Atualiza a posição do marcador a cada 1 segundo
      }, function (error) {
        console.log(error);
      }, {enableHighAccuracy: true});
    } else {
      console.log('Geolocation is not supported by this browser.');
    }
  }

  function calculateAndDisplayRoute(lat1, long1, lat2, long2) {
    var request = {
      origin: new google.maps.LatLng(lat1, long1),
      destination: new google.maps.LatLng(lat2, long2),
      travelMode: google.maps.TravelMode.DRIVING
    };

    directionsService.route(request, function (result, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
        var route = result.routes[0];
        var distance = 0;

        for (var i = 0; i < route.legs.length; i++) {
          distance += route.legs[i].distance.value;
          preco.value= distance * 30;
          preco_h1.innerHTML= distance * 30+'kz';
          preco_h1.style.color= 'green'; 

        }

        console.log('Distance:', distance + ' meters');
      } else {
        console.log('Directions request failed. Status:', status);
      }
    });
  }

  function updateMarkerPosition(lat1, long1) {
    originMarker.setPosition(new google.maps.LatLng(lat1, long1));
    carMarker.setPosition(new google.maps.LatLng(lat1, long1));
    carMarker.setVisible(true);
  }

  initMap();
</script>
</body>
</html>